		<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		id        = "ar.com.ingverger.pentomania"
		versionCode=""
		version   = "0.6.61">
		<name>Pentomania		</name>
		<description>Pentomania Puzzle is a one player game. An opportunity for mental exercise and fun at the same time.
		What does it consist of?
		There is a square board of 64 cells, 8 rows and eight columns. Four cells are occupied. The player must place the twelve pentominoes in such a way that they cover the rest of the board.
		Each different arrangement of the cells previously occupied gives rise to a problem. The problems are identified numerically. The player can follow that number sequence or choose the problems arbitrarily. Each problem solved adds points to his credit.
		In case of having difficulties to find the solution the player can request help. This consists of the placement of a piece by the application and subtract a point at the end of the problem.

		Hay un tablero cuadrado de 64 celdillas, 8 filas y ocho columnas. Cuatro celdillas se presentan ocupadas. El jugador debe colocar los doce pentominos de forma tal que cubran el resto del tablero.
		Cada disposición diferentes de las celdillas ocupadas previamente da lugar a un problema. Los problemas son identificados numéricamente. El jugador puede seguir esa secuencia numérica o elegir los problemas arbitrariamente. Cada problema resuelto le suma puntos a su haber.
		En caso de tener dificultades para encontrar la solución el jugador puede solicitar ayuda. Esta consiste en la colocacion de una pieza por parte de la aplicación y le restará un punto al finalizar el problema.		</description>
		<author href="http://www.ingverger.com.ar/pentominos.php" email="ingverger@gmail.com">Guillermo Verger		</author>
		<feature name="http://api.phonegap.com/1.0/battery" />
		<feature name="http://api.phonegap.com/1.0/camera" />
		<feature name="http://api.phonegap.com/1.0/contacts" />
		<feature name="http://api.phonegap.com/1.0/file" />
		<feature name="http://api.phonegap.com/1.0/geolocation" />
		<feature name="http://api.phonegap.com/1.0/media" />
		<feature name="http://api.phonegap.com/1.0/network" />
		<feature name="http://api.phonegap.com/1.0/notification" />
		<preference name="phonegap-version" value="cli-6.3.0" />
		<preference name="android-build-tool" value="gradle" />
		<preference name="orientation" value="default" />
		<preference name="fullscreen" value="true" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="false" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="default" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="true" />
		<preference name="show-splash-screen-spinner" value="true" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="FadeSplashScreen " value="true" />
		<preference name="EnableViewportScale" value="false" />
		<preference name="MediaPlaybackRequiresUserAction" value="false" />
		<preference name="AllowInlineMediaPlayback" value="true" />
		<preference name="BackupWebStorage" value="none" />
		<preference name="TopActivityIndicator" value="white" />
		<preference name="KeyboardDisplayRequiresUserAction" value="true" />
		<preference name="KeyboardShrinksView " value="true" />
		<preference name="HideKeyboardFormAccessoryBar" value="true" />
		<preference name="SuppressesIncrementalRendering" value="false" />
		<preference name="windows-identity-name" value="" />
		<preference name="android-installLocation" value="auto" />
		<preference name="SplashScreenDelay" value="1000" />
		<preference name="ErrorUrl" value="null" />
		<preference name="BackgroundColor" value="0x000000" />
		<preference name="DisallowOverscroll" value="true" />
		<preference name="LoadingDialog" value="Loading Pentomania,I'm loading pentomania. Please wait" />
		<preference name="LoadUrlTimeoutValue" value="null" />
		<platform name="ios">
		</platform>
		<platform name="android">
		<icon src="file://E:\Dropbox\GitHub\PolyominosPuzzle\res\icon\android\drawable-ldpi-icon.png" qualifier="ldpi" />
		<icon src="file://E:\Dropbox\GitHub\PolyominosPuzzle\res\icon\android\drawable-mdpi-icon.png" qualifier="mdpi" />
		<icon src="file://E:\Dropbox\GitHub\PolyominosPuzzle\res\icon\android\drawable-xhdpi-icon.png" qualifier="xhdpi" />
		<icon src="file://E:\Dropbox\GitHub\PolyominosPuzzle\res\icon\android\drawable-xxhdpi-icon.png" qualifier="xxhdpi" />
		<icon src="file://E:\Dropbox\GitHub\PolyominosPuzzle\res\icon\android\drawable-xxxhdpi-icon.png" qualifier="xxxhdpi" />
		</platform>
		<platform name="winphone">
		</platform>
		 <icon src="icon.png" />
		</widget>